apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: webhook-findings-pvc
  namespace: malware-security
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
